@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme{
    

    --font-display: "Dela Gothic One", sans-serif;
    --font-body: "Manrope", sans-serif;
    --color-primary: #F2B705;
    --color-secondary: #007257;
    --color-accent: #E0E0A9;
    --color-background: #EDF2ED;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: #343434;
    --color-text-secondary: #BABABA;
    --color-nav: #D6D6D6;
    --color-border: #007257;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-hover: rgba(0, 0, 0, 0.2);
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
    --text-5xl: 48px;
    --text-6xl: 60px;




}

@layer components {

    .btn {
        @apply px-4 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700 transition;
    }
    
    .card {
        @apply bg-white shadow-md rounded-lg p-6;
    }

}