@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme{
    --h1-size:64px;
    --font-display: "Dela Gothic One", sans-serif;
    --color-white: #ffffff;
}

@layer components {
  
    .btn {

    }
}

@layer base {

  h1 {
    font-size: var(--h1-size);
    font-family: var(--font-display);
    font-weight: 400;
    color: var(--color-white);
    
  }

  nav {
    @apply text-[18px] text-[#D4D4D4];
    font-family: "Manrope", sans-serif;
  }
  
}

@media (max-width: 640px) {
    @theme {
    --h1-size: 32px;
  }
}

@media (max-width: 1024px) {
    @theme {
    --h1-size: 48px;
  }
}

@media (max-width: 1024px) {
    @theme {
    --h1-size:64px;
  }
}