---

import HeaderMovil from '../components/HeaderMovil.astro';
import HeaderPc from '../components/HeaderPc.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout>
	<main class="relative w-full h-full">
		<HeaderPc />
		<HeaderMovil />

		<div class="w-full min-h-screen bg-[url('../assets/bg-hero.webp')] bg-cover bg-center">
			

		</div>
		
	</main>
</Layout>


