---
import Logo from '../assets/logo.png';

interface MenuItem  {
    name: string;
    path: string;
    
}

const menuItems: MenuItem [] = [
    { name: 'Inicio', path: 'http://localhost:4321/kenerdevweb/' },
    { name: 'Especialidad', path: '#especialidad' },
    { name: 'Proyectos', path: 'proyectos' },
    { name: 'Sobre mí', path: 'sobre mí' },
    { name: 'Blog', path: 'blog' },
    { name: 'Contactame', path: 'contactame' },
];
---

<header id="navbar" class="absolute mt-4 w-full px-7 py-1 hidden lg:block">
			
                <nav class=" flex justify-between items-center p-5">

            
                    <a href="http://localhost:4321/kenerdevweb/" >
                        <img src={Logo.src} alt="Logo kener dev" class="w-14 h-12"/>
                        
                    </a>



                    <ul class="flex justify-center items-center text-base gap-8 font-body">

                        {menuItems.map((item, index) => {
                            const isLast = index === menuItems.length - 1

                            return (
                            <li class="relative cursor-pointer">
                                <a
                                href={item.path}
                                class={`group uppercase ${
                                    isLast
                                    ? "rounded-full bg-nav p-4 text-black font-medium  \
                                    border border-transparent \
                                     hover:bg-transparent hover:border-nav hover:text-nav   transition-all duration-300 ease-out"
                                    : "text-nav"
                                }`}
                                >
                                {item.name}

                                {!isLast && (
                                    <span
                                    class="absolute left-0 -bottom-1 h-px w-full bg-nav
                                            scale-x-0 origin-right
                                            transition-transform duration-300 ease-out
                                            group-hover:scale-x-100
                                            group-hover:origin-left"
                                    />
                                )}
                                </a>
                            </li>
                            )
                        })}
                    </ul>

			</nav>
           
</header>