---
import Logo from '../assets/logo.png';
import LogoNegro from '../assets/logo-negro.png';
import { Icon } from 'astro-icon/components';

interface MenuItem  {
    name: string;
    path: string;
    
}

const menuItems: MenuItem [] = [
    { name: 'Inicio', path: 'http://localhost:4321/kenerdevweb/' },
    { name: 'Especialidad', path: '#especialidad' },
    { name: 'Proyectos', path: 'proyectos' },
    { name: 'Sobre mí', path: 'sobre mí' },
    { name: 'Blog', path: 'blog' },
    { name: 'Contactame', path: 'contactame' },
];
---
<header class="fixed inset-x-0 top-0 z-50 p-3 lg:hidden">
    <nav class="flex justify-between items-center">
        <a href="http://localhost:4321/kenerdevweb/" >

            <img id="logo" src={Logo.src} alt="Logo kener dev" class="w-9 h-7 block"/>
            
        </a>  

        <Icon id="btnAbrirMenu" name="ci:menu-alt-05" 
        class="text-nav size-12 flex z-50"/>

    </nav>

    <div
    id="Menu"
    class="fixed inset-0 z-40 p-3
        bg-nav backdrop-blur-md
        origin-top scale-y-0 transition-transform duration-300 ease-out"
    >
        <div id="Menu" class="fixed inset-0 z-40 bg-white backdrop-blur-md ...">
            <div class="flex flex-row  justify-between items-center  p-3">
                    <img id="logoNegro" src={LogoNegro.src} alt="Logo kener dev" class="w-9 h-7 hidden"/>
                    <Icon id="btnCerrarMenu" name="iconamoon:close-thin"
                            class="text-nav size-12 hidden z-50" />
            </div>



            <div class="w-full flex flex-col items-center">
                

            <div class="flex flex-col items-center justify-center mt-5 w-full h-full">
                <ul class="flex flex-col gap-5 ">
                    {
                     menuItems.map((items)=>{
                        return(
                            <li class="font-body text-xl font-bold text-center">
                                <a href={items.path}>
                                    {items.name}
                                </a>
                            </li>
                        )
                     })   
                    }
                </ul>

                

            </div>

            <section class="w-full mt-10 flex flex-col items-center text-center mb-10">
                <h2 class="font-body text-lg font-bold text-black"> Mis redes</p>
                <div class="flex gap-4 mt-2">
                   <a href="/">
                    <Icon name="ic:baseline-tiktok"
                    class="text-black size-9" />
                    </a> 

                    <a href="/">
                    <Icon name="ri:instagram-fill"
                    class="text-black size-9" />
                    </a> 

                    <a href="/">
                    <Icon name="ic:baseline-facebook"
                    class="text-black size-9" />
                    </a> 


                    <a href="/">
                    <Icon name="mdi:github"
                    class="text-black size-9" />
                    </a> 
                    

                </div>

            
                    
            </section>
            <button class="flex gap-4 p-5 bg-secondary text-white text-xl rounded-4xl">
                HABLEMOS POR WHATSAPP
                <Icon name="ri:whatsapp-fill"
                class="size-10 font-bold font-body" />
            </button>
        </div>

    </div>
    
</header>


<script>
    const btnAbrirMenu = document.getElementById("btnAbrirMenu") ;
    const btnCerrarMenu = document.getElementById("btnCerrarMenu") ;
    const Menu = document.getElementById("Menu");
    const Logo = document.getElementById("logo");
    const LogoNegro = document.getElementById("logoNegro");
    

   if(btnAbrirMenu && btnCerrarMenu && Menu && Logo && LogoNegro){


        btnAbrirMenu.addEventListener("click", (e)=>{
        e.preventDefault()
            
           
            btnAbrirMenu.classList.replace("flex", "hidden")
            btnCerrarMenu.classList.replace("hidden","block")
            btnCerrarMenu.classList.remove("text-nav")
            btnCerrarMenu.classList.add("text-black")
            Menu.classList.remove("scale-y-0");
            Menu.classList.add("scale-y-100");

            Logo.classList.remove("block");
            Logo.classList.add("hidden");
            LogoNegro.classList.remove("hidden");
            LogoNegro.classList.add("block");
            


            document.body.classList.add("overflow-hidden");
    })

        btnCerrarMenu.addEventListener("click", (e)=>{
        e.preventDefault()
        
            btnAbrirMenu.classList.replace("hidden", "flex")
            btnCerrarMenu.classList.replace("block","hidden")
            Menu.classList.remove("scale-y-100");
            Menu.classList.add("scale-y-0");

            Logo.classList.remove("hidden");
            Logo.classList.add("block");
            LogoNegro.classList.remove("block");
            LogoNegro.classList.add("hidden");
    })

   }

</script>