---
import Logo from '../assets/logo.png';
---
<header class="w-full absolute p-5">
    <nav class="flex justify-between items-center">
        <a href="http://localhost:4321/kenerdevweb/" >

            <img src={Logo.src} alt="Logo kener dev" class="w-10 h-8"/> 

        </a>  
    </nav>
</header>